<header class="bg-[#0c1b2a] relative sticky top-0 z-[10] h-[60px] flex justify-center items-center">
  <nav class="container bg-[#0c1b2a flex justify-between items-center">
    <!-- Лого -->
    <a
      [routerLink]="['/']"
      class="text-[#c9a84c] uppercase text-[18px] leading-[1.2] tracking-[0.5px] font-playfairDisplay_medium"
    >
      BRIGHT-LAWYER
      <small class="text-[10px] tracking-[2px] block font-nunito_sans text-[rgba(201,168,76,0.6)]">advokatlik byurosi</small>
      
    </a>

    <ul
      class=" text-[rgba(255,255,255,0.7)] hidden md:flex sm:gap-[20px] md:gap-[30px] xl:gap-[50px] md:text-[12px] xl:text-[16px] "
    >
      <li class="duration-300 hover:text-[#c9a84c]">
        <a [routerLink]="['']" routerLinkActive="text-[#c9a84c]"
          >Xizmatlar</a
        >
      </li>
      <li class="duration-300 hover:text-[#c9a84d]">
        <a [routerLink]="['']" 
          >Ishlar</a
        >
      </li>
      <li class="duration-300 hover:text-[#c9a84c]">
        <a
          [routerLink]="['']"
          routerLinkActive="text-[#c9a84c]"
          >Sertifikatlar</a
        >
      </li>
      <li class="duration-300 hover:text-[#c9a84c]">
        <a
          [routerLink]="['']"
          routerLinkActive="text-[#c9a84c]"
          >Video</a
        >
      </li>
      <li class="duration-300 hover:text-[#c9a84c]">
        <a
          [routerLink]="['']"
          routerLinkActive="text-[#c9a84c]"
          >Fikrlar</a
        >
      </li>
      <li class="duration-300 hover:text-[#c9a84c]">
        <a
          [routerLink]="['']"
          routerLinkActive="text-[#c9a84c]"
          >Aloqa</a
        >
      </li>
    </ul>

    <!-- Бургер -->
    <button
      class="md:hidden flex flex-col gap-[5px] p-2 z-30"
      (click)="toggleMenu()"
    >
      <span
        class="block w-[22px] h-[2px] bg-[#201F1F] rounded transition-all duration-300"
        [class.rotate-45]="menuOpen"
        [class.translate-y-[7px]]="menuOpen"
      ></span>
      <span
        class="block w-[22px] h-[2px] bg-[#201F1F] rounded transition-all duration-300"
        [class.opacity-0]="menuOpen"
      ></span>
      <span
        class="block w-[22px] h-[2px] bg-[#201F1F] rounded transition-all duration-300"
        [class.-rotate-45]="menuOpen"
        [class.-translate-y-[7px]]="menuOpen"
      ></span>
    </button>
  </nav>

  <!-- Мобильное меню -->
  <div
    class="md:hidden bg-[#f9f9f9] fixed top-[0px] right-[0] w-[75%] h-full z-20 pt-[80px] pl-6 border flex flex-col gap-4 font-inter_medium text-[rgba(96,96,96,1)] text-[25px] duration-300"
    [ngClass]="
      menuOpen ? 'translate-x-0 opacity-100' : 'translate-x-full opacity-0'
    "
  >
    @for (item of menus; track item.id) {
      <a
        [routerLink]="item.path"
        routerLinkActive="text-[rgba(108,95,188,1)]"
        (click)="menuOpen = false"
        (click)="goTo(item.path)"
        class="font-inter_medium"
      >
        {{ item.title }}
      </a>
    }
    <div class="flex gap-4 pt-2">
      <button
        class="text-[rgba(96,96,96,1)] font-inter_bold text-[20px] border border-2 rounded-[12px] px-[19px] py-[10px]"
        (click)="openLogin(); menuOpen = false"
      >
        Login
      </button>
      <button
        (click)="openSingUp(); menuOpen = false"
        class="bg-[rgba(108,95,188,1)] px-[19px] py-[10px] rounded-[12px] text-white text-[20px] font-inter_bold"
      >
        Sign up
      </button>
    </div>
  </div>
</header>

