@font-face {
    font-family:"PlayfairDisplay-Medium" ;
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:"Nunito_Sans" ;
    src: url("./assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
    font-weight: 600;
    font-style: normal;
}